/* You can add global styles to this file, and also import other style files */

body, html{
    height: 100vh;
    width: 100vw;
    background-color:#3f4349;
    color: aliceblue;
}
.text-dark{
 color: black;
}

.bg-white{
    background-color: white;
}

.bg-danger{
    background-color: red;
}

.bg-success{
    background-color: #03a31d;
}

.bg-purple{
    background-color: plum;
}

.bg-sky{
    background-color: #7393c6;
}

.bg-orange{
    background-color: #fcbc0c;
}